<template lang="pug">
  .container.valign-wrapper
    .row
      .col
        .card
          .card-image
            img(src="@/assets/images/ef8bbd4554dedcc2fd1fd15ab0ebd7a1.gif")
          .card-content
            span.card-title.center Doorverwijzen...
</template>

<style lang="sass" scoped>
  .container
    height: calc(100vh - 64px) !important
</style>

<script>
import axios from 'axios'

export default {
  name: 'Discord_Callback',
  props: ['access_token'],
  mounted() {
    axios({
      method: 'GET',
      url: 'https://secure.kawaaii.moe/auth/discord/callback',
      params: { access_token: this.$props.access_token }
    }).then(res => {
      this.$cookie.set('token', res.data.jwt, { expires: '1d' });
      this.$store.commit('user', res.data.user);
      this.$router.push('/');
    }).catch(() => this.$router.push('/'));
  }
}
</script>