<template lang="pug">
  nav.bg-kaboem.disable-selection
    .class-wrapper
      .brand-logo.center
        img.responsive-img.circle(src="@/assets/images/icon.png")
        b Kaboem.
        small app
      a.sidenav-trigger(href="#", data-target="mobile-navigation")

      ul.left.hide-on-med-and-down
        li(:class="{ active: $route.path === '/' }")
          router-link(tag="a", to="/") Home
        li(:class="{ active: $route.path === '/map' }")
          router-link(tag="a", to="/map") Bekijk Map
        li(:class="{ active: $route.path === '/list' }")
          router-link(tag="a", to="/list") Overzicht


      ul.right.hide-on-med-and-down(v-if="user")
        li
          a.dropdown-trigger(data-target="user_dropdown") {{ user.username }}
            i.material-icons.right arrow_drop_down

        ul.dropdown-content(id="user_dropdown", style="min-width: 150px;")
          li(:class="{ active: $route.path === '/logout' }")
            router-link(tag="a", to="/logout") Uitloggen

      ul.right.hide-on-med-and-down(v-else)
        li
          a.dropdown-trigger(data-target="user_dropdown") Inloggen
            i.material-icons.right arrow_drop_down

        ul.dropdown-content(id="user_dropdown", style="min-width: 150px;")
          li(:class="{ active: $route.path === '/auth/discord' }")
            a(href="/auth/discord", style="color: #be1e2d !important;") 
              i.fab.fa-discord(style="margin: 0 8px 0 0 !important;")
              | Discord
          li(:class="{ active: $route.path === '/auth/facebook' }")
            a(href="/auth/discord", style="color: #be1e2d !important;") 
              i.fab.fa-facebook-square(style="margin: 0 8px 0 0 !important;")
              | Facebook
          li(:class="{ active: $route.path === '/auth/google' }")
            a(href="/auth/discord", style="color: #be1e2d !important;") 
              i.fab.fa-google(style="margin: 1px 8px 0 0 !important;")
              | Google

</template>

<script>
import M from '@materializecss/materialize'

export default {
  name: 'Navigation',
  data() {
    return {
      user: null
    }
  },
  mounted() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    M.Dropdown.init(elems, {});
    this.$forceUpdate();
  },
  updated() {
    this.$data.user = this.$store.state.user;
  }
}
</script>