<template>
  <div id="app">
    <Navigation />

    <router-view />
  </div>
</template>

<script>
import axios from 'axios'
import Navigation from './components/Navigation'

export default {
  components: { Navigation },
  mounted() {
    var token = this.$cookie.get('token')
    if (token) {
      axios({ 
        method: 'GET', 
        url: 'https://secure.kawaaii.moe/users/me', 
        headers: { Authorization: `Bearer ${token}` } 
      }).then(res => { 
        this.update(res.data);
      }).catch(err => { 
        console.log(err) 
      })
    }
  },
  watch: {
    '$store.state.user' () { 
      this.$forceUpdate();
    }
  },
  methods: {
    update: function (user) {
      this.$store.commit('user', user)
      this.$forceUpdate();
    }
  }
}
</script>