.disable-selection
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  
.brand-logo
  img 
    height: 36px
    position: relative
    top: 5px
    right: 16px

nav i.material-icons
  height: 64px !important
  line-height: 64px !important

nav .dropdown-content
  top: 64px !important

.bg-kaboem
  background-color: #be1e2d !important

.text-kaboem
  color: #be1e2d !important