<template lang="pug">
  .container.valign-wrapper
    .row
      .col
        .card
          .card-image
            img(src="@/assets/images/ef8bbd4554dedcc2fd1fd15ab0ebd7a1.gif")
          .card-content
            span.card-title.center Doorverwijzen...
</template>

<style lang="sass" scoped>
  .container
    height: calc(100vh - 64px) !important
</style>

<script>
export default {
  name: 'Discord',
  mounted() {
    window.location.href = 'https://secure.kawaaii.moe/connect/discord';
  }
}
</script>