<template lang="pug"></template>

<script>
export default {
  name: 'Logout',
  mounted() {
    this.$cookie.delete('token');
    this.$store.commit('user', null);
    this.$router.push('/');
  }
}
</script>